<div class="main">
  <div class="container" [class.container-no-height]="uploaded">
    <div class="title">
      <h1>AWESOME IMAGE UPLOADER</h1>
    </div>
    <div class="form-container">
      <div class="upload">
        <label for="fileInput" class="custom-file-upload">
          Select an image
        </label>
        <input
          type="file"
          (change)="fileUploadOnChange($event.target)"
          id="fileInput"
          accept=".jpg, .png, .jpeg"
          required
        >
      </div>
      <div class="description">
        <label>Add a description</label>
        <input #descriptionInput type="text" required>
      </div>
      <p class="error-message">{{ errorMessage }}</p>
      <button
        [disabled]="uploading || !descriptionInput.value"
        class="button"
        (click)="uploadFile(descriptionInput.value)"
      >
        Upload Image
      </button>
    </div>
  </div>
  <div class="uploaded-image" *ngIf="uploaded">
    <img src="{{ fileSrc }}">
    <p><i>{{ fileDescription }}</i></p>
  </div>
</div>