PORT=8000
S3_BUCKET_NAME=crossover-test-bucket
AWS_ACCESS_KEY=XXXXXXX
AWS_SECRET_KEY=dHw2HkbHSMnYIY5kU9ZL3KOCM1S0r0PySZoZbxyT
RDS_HOST=database-crossover.cyou7lbdmw0u.us-east-2.rds.amazonaws.com
RDS_PASSWORD=XXXXXXXXX
RDS_NAME=Main
RDS_PORT=3306
RDS_USER=admin
CORS_ORIGIN=http://crossover-test-dist.s3-website.us-east-2.amazonaws.com
ES_SEARCH_ENDPOINT=http://vpc-crossover-bmb3metkdfnofvrbu7vxkmkpaa.us-east-2.es.amazonaws.com/images/_search
