<div class="container">
  <div class="upload">
    <label class="custom-file-upload">
      Select an image
    </label>
    <input
      type="file"
      (change)="fileUploadOnChange($event.target)"
      id="fileInput"
      accept=".jpg, .png, .jpeg"
      required
    >
  </div>
  <div class="description">
    <label>Add a description</label>
    <input [(ngModel)]="fileDescription" type="text">
  </div>
  <p class="error-message">{{ errorMessage }}</p>
  <button
    [disabled]="uploading"
    class="button"
    (click)="uploadFile()"
  >
    Upload Image
  </button>
</div>